fastapi
uvicorn
python-multipart
pydantic-settings
sqlalchemy
easyocr
google-genai
pillow
asyncmy
IndicTransToolkit
transformers<4.57.6
sentencepiece
torch
pandas
openpyxl
groq
seleniumbase
asyncpg
pgvector
psycopg2-binary
sentence-transformers
datasets
